################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VersionsApi/v16/TestStore/0
/VersionsApi/obj/Debug/netcoreapp3.1
/VersionsApi/bin/Debug/netcoreapp3.1
/.vs/VersionsApi
